/* The overlay covers the entire screen to block interactions */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* This line is changed to transparent */
  background-color: transparent; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensures it's on top of all other content */
}

/* The spinner element */
.loading-spinner {
  width: 30px;
  height: 30px;
  border: 5px solid #f3f3f3; /* Light grey circle */
  border-top: 5px solid #007bff; /* Blue for the spinning part */
  border-radius: 50%;
  animation: spin 1.2s linear infinite; /* Animation properties */
}

/* Keyframes for the spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}